.App {
  font-family: sans-serif;
  text-align: center;
  margin: auto;
}

.header {
  max-width: 100%;
  max-height: 40px;
  padding: 2rem 1rem 1rem 0.2rem;
}

body {
  background-color: #d1fae5;
  background-image: url("https://images.unsplash.com/photo-1546521343-4eb2c01aa44b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NHx8fGVufDB8fHw%3D&w=1000&q=80");
  display: block;
  margin: auto;
}

.btn {
  max-width: 50%;
  padding: 1rem;
  margin: 1.5%;
  border: solid 2px;
  border-radius: 0.4rem;
  font-size: medium;
  cursor: pointer;
}

.one {
  max-width: 100%;
  padding: 1rem;
}
.two {
  max-width: 100%;
  padding: 1rem;
}

.list {
  list-style-type: none;
  border: solid 0.5px;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 2%;
}
.div1 {
  font-size: large;
  margin: 0.3rem;
}
.div2 {
  font-size: small;
  margin: 0.3rem;
}

.footer {
  background-color: #fee2e2;
  padding: 2rem;
}
